<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' class='form-group'>
    <input type='text'ng-model='user.username' class='form-control' placeholder='Username'>
    <input type="password" ng-model='user.password' class='form-control' placeholder='Password'><p>
    <button class='btn btn-primary'>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>



<!--
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a href="#/shorten">Shorten a Link</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class='form-group'>
        <input class='form-control' size="100" placeholder='search links' ng-model="search.title">
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-click='signOut()'>Sign Out</a></li>
    </ul>
  </div>
</nav> -->
